$bgLight: #f0f5fb;
$bgDark: #142a51;
$bgSearchBar: #1c3663;

$textDark: #7E98BA;
$textDarkOnHover: #556E9A;
$textDarkOnSelect: #314363;

$textSearchBar: #6F8BBC;
$textLight: #DAE2EF;
$textLightSubheading: #A0B5D9;

$bgSelect: #041532;
